<table id="" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Action Button</th>
    </tr>
  </thead>
  <tbody>
    <% roles.forEach((role, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= role.name %></td>
      <td>
        <form action="/role/delete/<%= role.id %>?_method=DELETE" method="post">
          <a href="/role/edit/<%= role.id %>" class="btn btn-warning mr-3"
            >Edit</a
          >
          <button class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
    <!-- <tr>
        <td>Trident</td>
        <td>Internet Explorer 4.0</td>
        <td>Win 95+</td>
        <td>4</td>
        <td>X</td>
      </tr> -->
    <!-- <tr>
        <td>Trident</td>
        <td>Internet Explorer 5.0</td>
        <td>Win 95+</td>
        <td>5</td>
        <td>C</td>
      </tr>
      <tr>
        <td>Trident</td>
        <td>Internet Explorer 5.5</td>
        <td>Win 95+</td>
        <td>5.5</td>
        <td>A</td>
      </tr>
      <tr>
        <td>Trident</td>
        <td>Internet Explorer 6</td>
        <td>Win 98+</td>
        <td>6</td>
        <td>A</td>
      </tr>
      <tr>
        <td>Trident</td>
        <td>Internet Explorer 7</td>
        <td>Win XP SP2+</td>
        <td>7</td>
        <td>A</td>
      </tr> -->
  </tbody>
  <!-- <tfoot>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Action Button</th>
    </tr>
  </tfoot> -->
</table>
